/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@config "../tailwind.config.js";

html, body {
  @apply overflow-x-hidden;   /* o overflow-x: clip; */
  /* Esto previene que el body genere scrollbar por elementos translated */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
